<li class="nav-dropdown-container support-vue">
  <a class="nav-link">حمایت از ویو</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/support-vuejs/" class="nav-link">حمایت مالی</a></li>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">فروشگاه تی‌شرت</a></li>
    </ul></li>
  </ul>
</li>
